# Problem Statement and Hypothesis Generation

## Problem Statement

Given Various features, the aim is to build a model to determine the income level for people in US. The income levels are binned at below 50K and above 50K.

## Hypothesis Generation

### Features

Education
Age
Marital Status
Income
Investment
Family Members
Members of dependents
Investment
Return from investment
Tax Paid
Occupation
Occupation Category
Region in US
Race
Job Opputunities
Gender

#### Ho (Null Hypothesis) - None of the above predictors have signifiant impact on response.
#### Ha (Alternate Hypothesis) - Atleast one of the above predictors have significant impact on response.

# Data Exploration

In [6]:
train = read.csv('train.csv', na.strings=c(""," ","?","NA",NA))
test = read.csv('test.csv', na.strings=c(""," ","?","NA",NA))

In [11]:
dim(train)
dim(test)

[1] 199523     41

[1] 99762    41

In [12]:
train[1:5,]

  age class_of_worker                industry_code occupation_code
1 73  Not in universe                0              0
2 58  Self-employed-not incorporated 4             34
3 18  Not in universe                0              0
4  9  Not in universe                0              0
5 10  Not in universe                0              0
  education                  wage_per_hour enrolled_in_edu_inst_lastwk
1 High school graduate       0             Not in universe
2 Some college but no degree 0             Not in universe
3 10th grade                 0             High school
4 Children                   0             Not in universe
5 Children                   0             Not in universe
  marital_status major_industry_code
1 Widowed        Not in universe or children
2 Divorced       Construction
3 Never married  Not in universe or children
4 Never married  Not in universe or children
5 Never married  Not in universe or children
  major_occupation_code               ⋯ country_father country_mother
1 Not in universe                     ⋯ United-States  United-States
2 Precision production craft & repair ⋯ United-States  United-States
3 Not in universe                     ⋯ Vietnam        Vietnam
4 Not in universe                     ⋯ United-States  United-States
5 Not in universe                     ⋯ United-States  United-States
  country_self  citizenship                        business_or_self_employed
1 United-States Native- Born in the United States  0
2 United-States Native- Born in the United States  0
3 Vietnam       Foreign born- Not a citizen of U S 0
4 United-States Native- Born in the United States  0
5 United-States Native- Born in the United States  0
  fill_questionnaire_veteran_admin veterans_benefits weeks_worked_in_year year
1 Not in universe                  2                  0                   95
2 Not in universe                  2                 52                   94
3 Not in universe                  2                  0                   95
4 Not in universe                  0                  0                   94
5 Not in universe                  0                  0                   94
  income_level
1 -50000
2 -50000
3 -50000
4 -50000
5 -50000

In [13]:
test[1:5,]

  age class_of_worker                 industry_code occupation_code
1 38   Private                         6            36
2 44   Self-employed-not incorporated 37            12
3  2   Not in universe                 0             0
4 35   Private                        29             3
5 49   Private                         4            34
  education                            wage_per_hour
1  1st 2nd 3rd or 4th grade            0
2  Associates degree-occup /vocational 0
3  Children                            0
4  High school graduate                0
5  High school graduate                0
  enrolled_in_edu_inst_lastwk marital_status
1  Not in universe             Married-civilian spouse present
2  Not in universe             Married-civilian spouse present
3  Not in universe             Never married
4  Not in universe             Divorced
5  Not in universe             Divorced
  major_industry_code           major_occupation_code                  ⋯
1  Manufacturing-durable goods   Machine operators assmblrs & inspctrs ⋯
2  Business and repair services  Professional specialty                ⋯
3  Not in universe or children   Not in universe                       ⋯
4  Transportation                Executive admin and managerial        ⋯
5  Construction                  Precision production craft & repair   ⋯
  country_father country_mother country_self
1  Mexico         Mexico         Mexico
2  United-States  United-States  United-States
3  United-States  United-States  United-States
4  United-States  United-States  United-States
5  United-States  United-States  United-States
  citizenship                          business_or_self_employed
1  Foreign born- Not a citizen of U S  0
2  Native- Born in the United States   0
3  Native- Born in the United States   0
4  Native- Born in the United States   2
5  Native- Born in the United States   0
  fill_questionnaire_veteran_admin veterans_benefits weeks_worked_in_year year
1  Not in universe                 2                 12                   95
2  Not in universe                 2                 26                   95
3  Not in universe                 0                  0                   95
4  Not in universe                 2                 52                   94
5  Not in universe                 2                 50                   95
  income_level
1 -50000
2 -50000
3 -50000
4 -50000
5 -50000